:root{
    --primary1: hsl(26, 100%, 55%);    /*Orange*/
    --primary2:hsl(25, 100%, 94%);    /*Pale orange*/

    --text1: hsl(220, 13%, 13%);     /*Very dark blue*/
    --text2 :hsl(219, 9%, 45%);      /*Dark grayish blue*/
    --text3:hsl(220, 14%, 75%);     /*Grayish blue*/
    --text4:hsl(223, 64%, 98%);    /*Light grayish blue*/
    --text5:hsl(0, 0%, 100%);      /*White*/
    --text6:hsl(0, 0%, 0%);      /*Black */
    
}

html{box-sizing: border-box;}

*,*::after,*::before{
    box-sizing: inherit;
}

body{font-family: 'Open Sans', sans-serif;
 margin: 0;
padding: 0;
}

html,body{
    overflow-x: hidden;
     max-width:100% ;
}


/* navigation bar */

header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 2%;
    transition: all .50s cubic-bezier(0.5, 0, 0.5, 1) ;
}

/* logo */
.logo{
    align-items: center;
    display: flex;
    text-decoration: none;
    flex-flow: row nowrap;
}

.logo i{
    font-size: 28px;
    color:var(--text6)
}

.logo span{
     font-size: 28px;
    color:var(--text6);
    font-size: 1.1em;
    font-weight: 700;
}

/* nav list */

.navbar{
    position: absolute;
    list-style-type: none;
    top: 100%;
    right: 100%;
    width:100%;
    max-height: 80vh;
    background-color: var(--text4);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s cubic-bezier(0.5, 0, 0.5, 1);
}

.navbar a{
    color: var(--text2);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin: 3% 0;
    padding: 0 2%;
    transition: all .50s cubic-bezier(0.5, 0, 0.5, 1);

}

.navbar a.current{
    color: var(--primary1);

}

/* mobile menubar */
.menubar{
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
}

#menu-icon,.menubar i{
    font-size: 35px;
    color: var(--text6);
    cursor: pointer;
    z-index: 1001;
    
}

.menubar img{
    width: 30px;
    margin-left:7px ;
}

/* toggle */

.open{
    right: 2%;
}

  /* body */

  section {
    margin-top: 15%;
      display: flex;
      flex-flow: column nowrap;
      gap: 5%;
  }

  /* body1 */

  .body1 {
    margin:0 5% ;
      max-width: 100%;
   }
    /* swiper */
    .swiper {
        width: 100%;
        height: 50%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        border-radius: 10%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        margin-left: auto;
        margin-right: auto;
    }


        /* thumbnails */

    .thumbnails{
         margin: 5%;
         gap: 3%;
         display: none; 
      }

    .thumbnails img{
        height: 20%;
        width: 20%;
        cursor: pointer;
        border-radius: 5%;
    }

        .thumbnails img:hover{
            opacity: 0.7;

        }



  /* body2*/

  .body2 {
    margin:5%;
      max-width: 100%;

  }

  .body2 cite{
    font-size: 15px;
    color: var(--primary1);
  }


/* tablet view */
@media(min-width:750px){
    /* navigation bar */
    
    header{
     display: grid;
     padding: 0 4%;
     margin: 0;
     grid-template-columns: 0.3fr 1.7fr 0.3fr;   
    }

/* nav list */
    .navbar{
        background-color: initial;
        display: flex;
        gap: 5%;
        flex-flow: row wrap;
        position: initial;
        justify-content: space-around;
        height: initial;
    }

/*mobile menubar  */

    .menubar{
    margin-left: initial;
    }



    #menu-icon{
        display: none;
    }

    .menubar img{
        margin-left:10% ;
    }



  




   

}

/* desktop view */
@media(min-width:1000px){

    /* logo */

   

    .logo:hover i,.logo:hover span{
        color: var(--primary1);
        }
    
   
    /* nav list */

    .navbar li:hover{
        border-bottom: 2px solid var(--primary1);

    }
     .navbar li:hover a{
        transform: scale(1.1);
    }
     .navbar li:active a{
        transform: translateY(15%);
        transition-duration: 0.7ms;
    }


    /* mobile menubar */
    .menubar i:hover{
        color: var(--primary1);

    }

    .menubar img:hover{
        border: 1px solid var(--primary1);
        border-radius: 50%;
    }
    
    /* body */
    section{
            display: flex;
            flex-flow: row nowrap;
            gap: 5%;
            max-height: 50%;
            margin-top: 8%;
       }

 

    

    /* body1 */
    
    .body1{
        height: 120vh;
        margin: 0 5%;
        max-width: 30%;

    }
    /* thumbnails */

    .thumbnails {
        margin: 5%;
        gap: 7%;
        display: flex;
    }

}